body {
    background-color: #f8f9fa;
    margin: 0; /* Menghapus margin default */
}

.navbar {
    position: sticky; /* Membuat navbar sticky */
    top: 0; /* Menempel di bagian atas viewport */
    z-index: 1000; /* Memastikan navbar berada di atas konten lainnya */
    width: 100%; /* Memastikan navbar mengisi lebar penuh */
    padding: 10px 20px; /* Memberikan padding atas dan bawah, serta kiri dan kanan */
}

.navbar-custom {
    background-color: #343a40; /* Warna latar belakang navbar */
}

.navbar-brand {
    font-family: 'Times New Roman', Times, serif; /* Menggunakan font klasik */
    font-size: 1.5em; /* Ukuran font yang lebih besar */
    color: #f8f9fa; /* Warna teks */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Menambahkan bayangan pada teks */
}

.navbar-brand img {
    margin-right: 10px; /* Memberikan jarak antara logo dan teks */
}

.dashboard {
    height: calc(100vh - 70px); /* Mengurangi tinggi dashboard untuk menyesuaikan dengan tinggi navbar */
    display: flex; /* Menggunakan flexbox untuk memusatkan konten */
    flex-direction: column; /* Mengatur arah konten secara vertikal */
    justify-content: center; /* Memusatkan konten secara vertikal */
    align-items: center; /* Memusatkan konten secara horizontal */
    background-color: #e9ecef;
    padding: 20px;
}

.dashboard h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.dashboard p {
    font-size: 1.2em;
    color: #6c757d;
    text-align: center; /* Memastikan teks berada di tengah */
}

.content {
    text-align: center;
    padding: 20px;
}
.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card {
    margin: 15px;
    width: 300px; /* Set width for all cards */
    transition: transform 0.2s;
}
.card:hover {
    transform: scale(1.05);
}
.card img {
    height: 200px;
    object-fit: cover;
}
.card-info {
    padding: 10px;
}
.card-info h3 {
    font-size: 1.2em;
    font-weight: bold;
}
.card-info p {
    color: #6c757d;
}
.card-info a {
    text-decoration: none;
    color: #007bff;
}
.card-info a:hover {
    text-decoration: underline;
}